body 
	-webkit-font-smoothing: antialiased;  
	min-width: 800px !important;
	width: 100%;
h1,h2
	font-weight: 100

a:hover
	text-decoration: none

.btn 
	border: 0;
	font-weight: bold
	&.btn-success
		background-color: #94c231


@keyframes get_auth0_text
	from 
		padding-right: 100px;
	to 
		padding-right: 0;

@keyframes get_auth0_btn
	from
		opacity: 0;
	to 
		opacity: 1;

.login-page
	.login-box
		margin: 5% auto;
		width: 320px;
		text-align: center
		padding: 40px 10px;
		border-radius: 3px;

		.welcome-badge
			background: #eea20a url('../img/logo.png') center no-repeat
			width: 200px;
			height: 200px;
			margin: auto auto 30px auto;
			border-radius: 5px;
			display: block

		.btn.btn-primary
			font-weight: bold
			background-color: darken(#e3ae59, 70%)
			text-transform: uppercase
			font-size: 12px;
			letter-spacing: 1px;
			margin-top: 20px;
			padding: 14px 24px 15px 25px;
			i 
				margin-right: 10px;
			&:hover 
				background-color: darken(#e3ae59, 80%);



	.get-auth0
		background: #4E7AC7;
		color: white;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center
		padding: 30px;
		min-width: 700px;
		h3 
			font-weight: 200;
			position: relative;
			display: inline-block
			span 
				-webkit-animation: get_auth0_text 2s ;
				// -webkit-animation-delay: 2s; 
				display: inline-block

			.btn 
				border-radius: 100px;
				text-transform: uppercase
				padding: 14px 20px;
				letter-spacing: 1px;
				background-color: #94c231;
				margin-left: 20px;
				-webkit-animation: get_auth0_btn 2s ;
				// -webkit-transition-delay: 10s;
				&:hover 
					background-color: darken(#94c231, 40%);


.container
	max-width: 1000px;

.files-page 
	header.site-header
		margin-bottom: 50px;
		h1 
			font-weight: bold
			font-size: 20px;
			a 
				color: black;
		.login-info
			text-align: right
			margin-top: 20px;
			font-size: 12px;
			span 
				opacity: .5;
			img 
				width: 30px;
				margin-right: 10px;
				border-radius: 40px;

	.get-auth-left
		background-color: #4E7AC7
		color: white;
		padding: 20px 10px;
		text-align: center
		border-radius: 3px;
		.icon-badge
			background: #fff;
			width: 60px;
			height: 60px;
			border-radius: 3px;
			margin: auto;
			margin-bottom: 10px;
		img 
			width: 40px;
			height: auto;
			margin-top: 14px;
		h3 
			margin-top: 0;
			font-weight: 200;
		p 
			opacity: .6;
		.btn 
			margin-top: 10px;

	.files-list
		padding-left: 40px;
		h3 
			margin-top: 0;
			margin-bottom: 30px;
			float: left
		.upload-button
			float: right
			i 
				margin-right: 6px;
				
		a
			font-weight: bold
		tbody tr:hover
			background: #f9f9f9;
