body {
  -webkit-font-smoothing: antialiased;
  min-width: 800px !important;
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
a:hover {
  text-decoration: none;
}
.btn {
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 22px;
}
.btn.btn-success {
  background-color: #94c231;
}
.login-page .login-box {
  margin: 5% auto;
  width: 320px;
  text-align: center;
  padding: 40px 10px;
  border-radius: 3px;
}
.login-page .login-box .welcome-badge {
  background: #eea20a url("../img/logo.png") center no-repeat;
  background-size: 70%;
  width: 140px;
  height: 140px;
  margin: auto auto 30px auto;
  border-radius: 5px;
  display: block;
}
.login-page .login-box .btn.btn-primary {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
}
.login-page .login-box .btn.btn-primary i {
  margin-right: 10px;
}
.login-page .get-auth0 {
  background: #4e7ac7;
  background-image: -webkit-radial-gradient(right top, #34478c 0%, rgba(52,71,140,0) 70%);
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 30px;
  min-width: 700px;
}
.login-page .get-auth0 h3 {
  font-weight: 200;
  position: relative;
  display: inline-block;
}
.login-page .get-auth0 h3 span {
  -webkit-animation: get_auth0_text 2s;
  display: inline-block;
}
.login-page .get-auth0 h3 .btn {
  border-radius: 3px;
  text-transform: uppercase;
  padding: 14px 20px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #94c231;
  margin-left: 20px;
  -webkit-animation: get_auth0_btn 2s;
}
.login-page .get-auth0 h3 .btn:hover {
  background-color: #59741d;
}
.container {
  max-width: 800px;
}
.files-page header.site-header {
  margin-bottom: 50px;
}
.files-page header.site-header h1 {
  font-size: 20px;
}
.files-page header.site-header h1 a {
  color: #000;
}
.files-page header.site-header .login-info {
  text-align: right;
  margin-top: 20px;
  font-size: 12px;
}
.files-page header.site-header .login-info span {
  opacity: 0.5;
}
.files-page header.site-header .login-info img {
  width: 30px;
  margin-right: 10px;
  border-radius: 40px;
}
.files-page .get-auth-left {
  background-color: #4e7ac7;
  background-image: -webkit-radial-gradient(right top, #34478c 0%, rgba(52,71,140,0) 70%);
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  border-radius: 3px;
}
.files-page .get-auth-left .icon-badge {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
}
.files-page .get-auth-left img {
  width: 40px;
  height: auto;
  margin-top: 14px;
}
.files-page .get-auth-left h3 {
  margin-top: 0;
  font-weight: 200;
}
.files-page .get-auth-left p {
  opacity: 0.6;
}
.files-page .get-auth-left .btn {
  margin-top: 10px;
}
.files-page .files-list h3 {
  margin-top: 0;
  margin-bottom: 30px;
  float: left;
}
.files-page .files-list .upload-button {
  float: right;
}
.files-page .files-list .upload-button i {
  margin-right: 6px;
}
.files-page .files-list .upload-button img {
  position: relative;
  top: -3px;
}
.files-page .files-list a {
  font-weight: bold;
}
.files-page .files-list tbody tr:hover {
  background: #f9f9f9;
}
.files-page .files-list tbody tr .glyphicon-link:hover {
  color: #00f;
}
.files-page .files-list tbody tr .glyphicon-trash:hover {
  color: #f00;
  cursor: pointer;
}
footer {
  text-align: center;
}
footer a {
  color: #333;
}
#global-zeroclipboard-html-bridge {
  top: -1000000000px !important;
}
.link-copied {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  right: 0;
  left: 0;
}
.tipsy-link {
  display: block;
}
@-moz-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-webkit-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-o-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-ms-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-moz-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-webkit-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-o-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-ms-keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@keyframes get_auth0_text {
  0% {
    padding-right: 100px;
  }

  100% {
    padding-right: 0;
  }
}
@-moz-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes get_auth0_btn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
