!!! 5
html
  head
    title Auth0 With S3
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/app.css', rel='stylesheet')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    .login-page.clearfix
      .login-box
        .welcome-badge
        h1 Auth0 With S3
        h4 Simple upload example
        a(href="").btn.btn-primary.btn-lg
          i.glyphicon.glyphicon-user
          span Login with Auth0


      .get-auth0
        h3
          span Get started today with Auth0 for free
          a(href="").btn.btn-success Sign Up Now!